@font-face{
  font-family: "iransans";
  src: url("./assets/fonts/FontsFree-Net-ir_sans.ttf");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  width: 100%;
  font-family: "iransans";
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

body , html{
  width: 100%;
  font-family: "iransans";
}

body{
  height: auto;
  display: flex;
  justify-content: center;
}
.container{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}